<footer class="border-t-[1px] border-t-brand-400 p-10">
    <div class="container">
      <div class="flex items-center justify-between">
        <h2 class="font-serif font-bold">Alpha state</h2>
        <ul class="flex gap-3">
          <li><%= link_to "#" do %><%= image_tag 'facebook' %><% end %></li>
          <li><%= link_to "#" do %><%= image_tag 'Instagram' %><% end %></li>
          <li><%= link_to "#" do %><%= image_tag 'x' %><% end %></li>
          <li><%= link_to "#" do %><%= image_tag 'Linkedin' %><% end %></li>
        </ul>
      </div>
      <div class="flex gap-4 justify-center items-center mt-14">
        <p>2025 Relume. All right reserved.</p>
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
        <p>Cookies Settings</p>
      </div>
    </div>
  </footer>